<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit customer</title>
</head>
<body>
<h3>Customer info</h3>
<a th:href="@{/customers}">Back to customer list</a>
<div th:if="${message}">
    <p  style="color:green" th:text="${message}"></p>
</div>
<form th:object="${customer}" th:action="@{/edit-customer}" method="post">
    <input type="hidden" th:field="*{id}">
    <table border="1">
        <tr>
            <th>First name:</th>
            <td>
                <input type="text" th:field="*{firstName}">
            </td>
        </tr>
        <tr>
            <th>Last name:</th>
            <td>
                <input type="text" th:field="*{lastName}">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button>Update</button></td>
        </tr>
    </table>
</form>
</body>
</html>