<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>
<p>
  <a th:href="@{/customers}">Back to customer list</a>
</p>
<form th:action="@{/delete-customer}" method="post" th:object="${customer}">
  <input type="hidden" th:field="*{id}">
  <div>
    <label for="firstName">First Name</label>
    <input type="text" th:field="*{firstName}" id="firstName" name="firstName">
  </div>
  <div>
    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName" name="lastName">
  </div>
  <button>Delete customer</button>
</form>
</body>
</html>