<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product management</title>
</head>
<body>
<p>
    <a th:href="@{/products/create}">Create new product</a>
</p>
<form th:action="@{/products/search}">
    <input type="text" placeholder="Search product by name" name="name">
    <button>Search</button>
</form>
<h3>Product list</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Manufacturer</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="product,rowStat :${products}">
        <td><a th:href="@{/products/{id}/view(id=${product.id})}" th:text="${product.id}"></a></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.manufacturer}"></td>
        <td><a th:href="@{/products/{id}/edit(id=${product.id})}">Edit</a></td>
        <td><a th:href="@{/products/{id}/delete(id=${product.id})}">Delete</a></td>
    </tr>
</table>
</body>
</html>