<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete province reconfirm</title>
</head>
<body>
<p>
  <a th:href="@{/province}">Back to province list</a>
</p>
<form th:action="@{/delete-province}" method="post" th:object="${province}">
  <input type="hidden" th:field="*{id}">
  <div>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" name="name">
  </div>
  <button>Delete province</button>
</form>
</body>
</html>